/*
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

/*
 * All Margins and sizes are custom for the ktor-logo.png file.
 * You may need to override it and find what works best for your case.
 */
:root {
  --dokka-logo-image-url: url('../images/ktor-logo.png');
  --dokka-logo-height: 125px;
  --dokka-logo-width: 50px;
}

/* link custom rules styles */
.library-name--link {
  /* ... */
}

/* logo custom rules styles */
.library-name--link::before {
  background-position: left;
  width: 52px;
}
