/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '../_tokens/index';

.filter-section {
  z-index: 1;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-right: 12px;
  gap: 2px;

  @media (width < $breakpoint-desktop-min) {
    margin-right: 0;

    & > :not(.dropdown) {
      display: none;
    }

    &--dropdown-toggle {
      background-image: url('../_assets/filter.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &::after {
        display: none;
      }
    }
  }

  &--header {
    position: sticky;
    z-index: 2;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: var(--size-s3);

    color: var(--color-w70);

    border-bottom: 1px solid lighten(rgb(50, 50, 55), 15%); // color-background-nav-dt

    background-color: var(--color-background-nav-dt);

    @media (width >= $breakpoint-desktop-min) {
      display: none;
    }
  }

  &--overlay {
    position: absolute;
    z-index: 1;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 100vw;
    height: 100vh;

    content: '';

    background-color: rgba(137, 137, 137, 0.5);

    .dropdown--list_expanded + & {
      display: block;

      @media (width >= $breakpoint-desktop-min) {
        display: none;
      }
    }
  }
}

.no-js .filter-section {
  display: none;
}
