/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '../tokens/index';

.filter-section {
  z-index: 0;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

.no-js .filter-section {
  display: none;
}

@media (width >= 760px) {
  .filter-section {
    padding: 5px 0;
  }
}
