/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '../_tokens/index';

:root {
  --dokka-logo-height: 28px;
  --dokka-logo-width: 28px;
}

.library-name--link {
  display: flex;
  align-items: center;

  margin-right: var(--size-s2);

  white-space: nowrap;

  color: var(--color-text-dt);

  font: var(--font-h4);

  @media (width < $breakpoint-desktop-min) {
    height: 52px;

    margin-left: 12px;
  }
}

.library-name--link::before {
  width: var(--dokka-logo-height);
  height: var(--dokka-logo-width);
  margin-right: var(--size-s2);

  content: '';

  background: var(--dokka-logo-image-url) center no-repeat;
  background-size: var(--dokka-logo-height) var(--dokka-logo-width);
}
