/*!
 * Copyright 2014-2025 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '../_tokens/index';

.root {
  display: flex;
  flex-direction: column;

  height: 100%;
}

#container {
  display: flex;
  flex: 1 1 auto;

  min-height: 0; /* full height exclude header */
}

#main {
  display: flex;
  overflow: auto !important; // important do needed to override column-resizer styles
  flex: 1 1 0; /* full width, but no affects for sidebar */
  flex-direction: column;

  margin-left: -5px;

  scrollbar-gutter: stable;
}

.main-content {
  z-index: 0;

  box-sizing: border-box;

  width: 100%;
  max-width: var(--content-max-width);
  margin-right: auto;
  margin-left: auto;
  padding: 0 var(--size-m3) var(--size-l2);

  @media (width < $breakpoint-tablet-min) {
    padding-right: var(--size-s3);
    padding-left: var(--size-s3);
  }
}

.resizer {
  position: relative;
  z-index: 1;
  left: -3px;

  flex: 0 0 5px !important;

  cursor: ew-resize;
}

// do not show divider after tables as they have borders now
.table + hr {
  display: none;
}

br {
  display: none;
}

.main-content .content > hr {
  margin: var(--size-m1) 0;

  border-top: 1px solid var(--color-b20);
  border-right: none;
  border-bottom: none;
  border-left: none;

  .theme-dark & {
    border-top: 1px solid var(--color-w16);
  }
}
