/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

@import '../../ui-kit/tokens/index';

$font-color: hsla(0deg, 0%, 100%, 0.8);
$secondary-font-color: hsla(0deg, 0%, 100%, 0.6);

#pages-search {
  padding: 0;

  cursor: pointer;

  border: none;
  background: transparent;

  font-size: 0;
}

.search {
  &,
  [data-test='ring-select'],
  [data-test='ring-tooltip'],
  [data-test='ring-select_focus'] {
    display: inline-block;

    margin: 0;
    padding: 0;

    font-size: 0;
    line-height: 0;
  }
}

.search-hotkey-popup {
  padding: 4px;

  background-color: var(--background-color) !important;
}

.popup-wrapper {
  min-width: calc(100% - 322px) !important;

  color: $font-color;

  border: 1px solid hsla(0deg, 0%, 100%, 0.2) !important;

  background-color: #27282c !important;

  [class^='filterWrapper'] {
    border-bottom: 1px solid hsla(0deg, 0%, 100%, 0.2);
  }

  input {
    color: $font-color !important;

    font-weight: normal !important;
  }

  span[data-test-custom='ring-select-popup-filter-icon'] {
    color: #fff;
  }

  button[data-test='ring-input-clear'] {
    color: #fff !important;
  }
}

@media screen and (width <= 759px) {
  .popup-wrapper {
    min-width: 100% !important;
  }
}

.template-wrapper {
  display: grid;

  height: 32px;
  grid-template-columns: auto auto;

  strong {
    color: $font-color;
  }

  span {
    color: $font-color;

    line-height: 32px;

    &.template-description {
      color: $secondary-font-color;
      justify-self: end;
    }
  }
}

@media screen and (width <= 759px) {
  .template-wrapper {
    display: flex;
    flex-direction: column;

    height: auto;

    span {
      line-height: unset;
    }
  }
}

.template-name {
  justify-self: start;
}

/* remove fade at the bottom */
[class^='fade'] {
  display: none;
}

[class*='hover'] {
  background-color: hsla(0deg, 0%, 100%, 0.1) !important;
}
