/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

$font-color: hsla(0, 0%, 100%, 0.8);
$secondary-font-color: hsla(0, 0%, 100%, 0.6);

#pages-search {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: transparent;
  fill: #fff;
  fill: var(--dark-mode-and-search-icon-color);

  &:hover {
    background: var(--white-10);
  }
}

.search {
  &, [data-test="ring-select"], [data-test="ring-tooltip"], [data-test="ring-select_focus"], #pages-search {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
  }
}

.search-hotkey-popup {
  background-color: var(--background-color) !important;
  padding: 4px;
}

.popup-wrapper {
  min-width: calc(100% - 322px) !important;

  border: 1px solid hsla(0, 0%, 100%, 0.2) !important;

  background-color: #27282c !important;
  color: $font-color;

  [class^="filterWrapper"] {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  }

  input {
    color: $font-color !important;

    font-weight: normal !important;
  }

  span[data-test-custom="ring-select-popup-filter-icon"] {
    color: #fff;
  }

  button[data-test="ring-input-clear"] {
    color: #fff !important;
  }
}

@media screen and (max-width: 759px) {
  .popup-wrapper {
    min-width: 100% !important;
  }
}

.template-wrapper {
  display: grid;

  height: 32px;
  grid-template-columns: auto auto;

  strong {
    color: $font-color;
  }

  span {
    color: $font-color;

    line-height: 32px;

    &.template-description {
      color: $secondary-font-color;
      justify-self: end;
    }
  }
}

@media screen and (max-width: 759px) {
  .template-wrapper {
    display: flex;
    flex-direction: column;

    height: auto;

    span {
      line-height: unset;
    }
  }
}

.template-name {
  justify-self: start;
}

/* remove fade at the bottom */
[class^="fade"] {
  display: none;
}

[class*="hover"] {
  background-color: hsla(0, 0%, 100%, 0.1) !important;
}
