<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="Shortcut Icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/assets/images/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/assets/images/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/apple-touch-icon-144x144.png" />

<link rel="stylesheet" href="{{ site.baseurl }}/css/github1.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/github2.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
