/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

$breakpoint-desktop-min: 900px;
$breakpoint-tablet-max: 899px;
$breakpoint-tablet-min: 440px;
$breakpoint-mobile-max: 439px;
$breakpoint-mobile-min: 360px;

:root {
  --breakpoint-desktop-min: #{$breakpoint-desktop-min};
  --breakpoint-tablet-max: #{$breakpoint-tablet-max};
  --breakpoint-tablet-min: #{$breakpoint-tablet-min};
  --breakpoint-mobile-max: #{$breakpoint-mobile-max};
  --breakpoint-mobile-min: #{$breakpoint-mobile-min};
}
