/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

:root {
  --font-family-default: JetBrains Sans, Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
  --font-family-mono: JetBrains Mono, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  --font-h1: 600 44px/44px var(--font-family-default);
  --font-h2: 600 32px/32px var(--font-family-default);
  --font-h3: 600 24px/24px var(--font-family-default);
  --font-h4: 600 16px/24px var(--font-family-default);
  --font-text-m: 400 16px/24px var(--font-family-default);
  --font-text-s: 400 14px/20px var(--font-family-default);
  --font-code: 400 16px/24px var(--font-family-mono);
}
