/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '_tokens/index';

:root {
  --color-background: var(--color-background-page);
  --focus-outline: 4px solid var(--color-key-blue-50);
  --content-max-width: 1128px;
  --text-color: var(--color-text);
  --text-outline: var(--color-b20);
}

.theme-dark {
  --color-background: var(--color-background-page-dt);
  --text-color: var(--color-text-dt);
  --text-outline: var(--color-w16);
  --color-background-inline-code: var(--color-w10);
  --color-background-code-block: var(--color-w05);
}

body {
  margin: 0;

  color: var(--text-color);
  background-color: var(--color-background);

  font: var(--font-text-m);
}

small {
  font: var(--font-text-s);
}
