/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
.tabs-section, .platform-hinted > .platform-bookmarks-row {
  margin-right: -8px;
  margin-left: -8px;
}

.section-tab, .platform-hinted > .platform-bookmarks-row > .platform-bookmark {
  margin: 0 8px;
  padding: 11px 3px;
  cursor: pointer;
  color: var(--inactive-section-color);
  border: 0;
  border-bottom: 1px solid var(--inactive-tab-border-color);
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: var(--default-font-size);
}

.platform-hinted > .platform-bookmarks-row {
  margin-bottom: 16px;
}

.no-js .platform-bookmarks-row + .sourceset-dependent-content {
  margin-top: 8px;
}

.no-js .platform-bookmarks-row + .sourceset-dependent-content:last-of-type {
  margin-top: 0;
}

.section-tab:hover {
  color: var(--default-font-color);
  border-bottom: 2px solid var(--default-font-color);
}

.section-tab[data-active=""] {
  color: var(--active-section-color);
  border-bottom: 2px solid var(--active-tab-border-color);
}

.tabs-section-body > div {
  margin-top: 12px;
}

.tabs-section-body .with-platform-tabs {
  padding-top: 12px;
  padding-bottom: 12px;
}

.platform-hinted {
  display: block;
  flex: auto;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark {
  align-self: flex-start;
  flex: none;
  order: 5;
  min-width: 64px;
  background: inherit;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark:hover {
  color: var(--default-font-color);
  border-bottom: 2px solid var(--default-font-color);
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark[data-active=""] {
  color: var(--active-section-color);
  border-bottom: 2px solid var(--active-tab-border-color);
}

.no-js .platform-bookmarks-row, .no-js .tabs-section {
  display: none;
}

.js .platform-hinted > .content:not([data-active]), .js .tabs-section-body *[data-togglable]:not([data-active]) {
  display: none;
}

.main-content[data-page-type=package] .tabs-section-body h2 {
  display: none;
}
