/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */ /*!
* Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
*/ /*!
* Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
*/
:root {
  --breakpoint-desktop-min: 900px;
  --breakpoint-tablet-max: 899px;
  --breakpoint-tablet-min: 440px;
  --breakpoint-mobile-max: 439px;
  --breakpoint-mobile-min: 360px;
} /*!
* Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
*/
:root {
  --color-key-blue: rgb(48, 127, 255);
  --color-nav-bar: rgb(39, 40, 44);
  --color-dark-theme-bg: rgb(38, 38, 40);
  --color-text-black: rgb(0, 0, 0);
  --color-text-white: rgba(255, 255, 255, 0.96);
  --color-text-light-black: rgba(0, 0, 0, 0.7);
  --color-text-light-white: rgba(255, 255, 255, 0.7);
  --color-w05: rgba(255, 255, 255, 0.05);
  --color-w10: rgba(255, 255, 255, 0.1);
  --color-w20: rgba(255, 255, 255, 0.2);
  --color-w50: rgba(255, 255, 255, 0.5);
  --color-w70: rgba(255, 255, 255, 0.7);
  --color-w80: rgba(255, 255, 255, 0.8);
  --color-b05: rgba(0, 0, 0, 0.05);
  --color-b08: rgba(0, 0, 0, 0.08);
  --color-b20: rgba(0, 0, 0, 0.2);
  --color-b50: rgba(0, 0, 0, 0.5);
  --color-b70: rgba(0, 0, 0, 0.7);
  --color-cd-punctuation: rgb(153, 153, 153);
  --color-cd-keyword: rgb(0, 51, 179);
  --color-cd-keyword-alternative: rgba(204, 120, 50);
  --color-cd-builtin: rgb(6, 125, 23);
  --color-cd-builtin-alternative: rgb(231, 191, 106);
  --color-cd-function: rgb(0, 98, 122);
  --color-cd-function-alternative: rgb(255, 198, 109);
  --color-cd-operator: rgb(154, 110, 58);
  --color-cd-operator-alternative: rgb(169, 183, 198);
  --color-cd-body: rgb(0, 0, 0);
  --color-cd-body-alternative: rgb(169, 183, 198);
  --color-generic: rgb(83, 157, 243);
  --color-jvm: rgb(77, 187, 95);
  --color-js: rgb(255, 199, 0);
  --color-wasm: rgb(255, 255, 255);
} /*!
* Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
*/
:root {
  --size-s1: 4px;
  --size-s2: 8px;
  --size-s3: 16px;
  --size-m1: 24px;
  --size-m2: 32px;
  --size-m3: 48px;
  --size-l1: 64px;
  --size-l2: 72px;
  --size-ta1: 40px;
  --size-ta2: 52px;
} /*!
* Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
*/
:root {
  --font-family-default: JetBrains Sans, Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
  --font-family-mono: JetBrains Mono, SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  --font-h1: 600 44px/44px var(--font-family-default);
  --font-h2: 600 32px/32px var(--font-family-default);
  --font-h3: 600 24px/24px var(--font-family-default);
  --font-h4: 600 16px/24px var(--font-family-default);
  --font-text-m: 400 16px/24px var(--font-family-default);
  --font-text-s: 400 13px/24px var(--font-family-default);
  --font-code: 400 16px/24px var(--font-family-mono);
}

.tabs-section, .platform-hinted > .platform-bookmarks-row {
  margin-right: -8px;
  margin-left: -8px;
}

.section-tab, .platform-hinted > .platform-bookmarks-row > .platform-bookmark {
  margin: 0 8px;
  padding: 11px 3px;
  cursor: pointer;
  color: var(--inactive-section-color);
  border: 0;
  border-bottom: 1px solid var(--inactive-tab-border-color);
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: var(--default-font-size);
}

.platform-hinted > .platform-bookmarks-row {
  margin-bottom: var(--size-s3);
}

.no-js .platform-bookmarks-row + .sourceset-dependent-content {
  margin-top: var(--size-s2);
}

.no-js .platform-bookmarks-row + .sourceset-dependent-content:last-of-type {
  margin-top: 0;
}

.section-tab:hover {
  color: var(--default-font-color);
  border-bottom: 2px solid var(--default-font-color);
}

.section-tab[data-active=""] {
  color: var(--active-section-color);
  border-bottom: 2px solid var(--active-tab-border-color);
}

.tabs-section-body > div {
  margin-top: 12px;
}

.tabs-section-body .with-platform-tabs {
  padding-top: 12px;
  padding-bottom: 12px;
}

.platform-hinted {
  display: block;
  flex: auto;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark {
  align-self: flex-start;
  flex: none;
  order: 5;
  min-width: 64px;
  background: inherit;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark:hover {
  color: var(--default-font-color);
  border-bottom: 2px solid var(--default-font-color);
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark[data-active=""] {
  color: var(--active-section-color);
  border-bottom: 2px solid var(--active-tab-border-color);
}

.no-js .platform-bookmarks-row, .no-js .tabs-section {
  display: none;
}

.js .platform-hinted > .content:not([data-active]), .js .tabs-section-body *[data-togglable]:not([data-active]) {
  display: none;
}

.main-content[data-page-type=package] .tabs-section-body h2 {
  display: none;
}
