/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '../_tokens/index';

.tabs-section,
.platform-hinted > .platform-bookmarks-row {
  margin-right: -8px;
  margin-left: -8px;
}

.section-tab, /* regular tabs */
.platform-hinted > .platform-bookmarks-row > .platform-bookmark /* platform tabs but they look the same */ {
  margin: 0 8px;
  padding: 11px 3px;

  cursor: pointer;

  color: var(--inactive-section-color);
  border: 0;
  border-bottom: 1px solid var(--inactive-tab-border-color);
  outline: none;
  background-color: transparent;

  font-size: var(--default-font-size);
}

.platform-hinted > .platform-bookmarks-row {
  margin-bottom: var(--size-s3);
}

.no-js .platform-bookmarks-row + .sourceset-dependent-content {
  margin-top: var(--size-s2);
}

.no-js .platform-bookmarks-row + .sourceset-dependent-content:last-of-type {
  margin-top: 0;
}

.section-tab:hover {
  color: var(--default-font-color);
  border-bottom: 2px solid var(--default-font-color);
}

.section-tab[data-active=''] {
  color: var(--active-section-color);
  border-bottom: 2px solid var(--active-tab-border-color);
}

.tabs-section-body > div {
  margin-top: 12px;
}

.tabs-section-body .with-platform-tabs {
  padding-top: 12px;
  padding-bottom: 12px;
}

.platform-hinted {
  display: block;
  flex: auto;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark {
  align-self: flex-start;
  flex: none;
  order: 5;

  min-width: var(--size-l1);

  background: inherit;
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark:hover {
  color: var(--default-font-color);
  border-bottom: 2px solid var(--default-font-color);
}

.platform-hinted > .platform-bookmarks-row > .platform-bookmark[data-active=''] {
  color: var(--active-section-color);
  border-bottom: 2px solid var(--active-tab-border-color);
}

.no-js .platform-bookmarks-row,
.no-js .tabs-section {
  display: none;
}

.js .platform-hinted > .content:not([data-active]),
.js .tabs-section-body *[data-togglable]:not([data-active]) {
  display: none;
}

/*
the hack to hide the headers inside tabs for a package page because each tab
has only one header, and the header text is the same as the tab name, so no point in showing it
*/
.main-content[data-page-type='package'] .tabs-section-body h2 {
  display: none;
}
