/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

:root {
  // Interface
  --color-key-blue: rgb(48, 127, 255); //#307FFF;
  --color-key-blue-hover: rgb(69, 140, 255);
  --color-key-blue-50: rgb(48, 127, 255, 0.5);
  --color-background-nav: rgb(39, 40, 44);
  --color-background-nav-dt: rgb(50, 50, 55);
  --color-background-page: rgb(255, 255, 255);
  --color-background-page-dt: rgba(38, 38, 40, 1);
  --color-background-footer: rgb(235, 235, 235);
  --color-background-footer-dt: rgb(50, 50, 55);

  // Text colors (headings, paragraphs, labels)
  --color-text: rgb(0, 0, 0);
  --color-text-dt: rgba(255, 255, 255, 0.96);
  --color-text-light: rgba(0, 0, 0, 0.7);
  --color-text-light-dt: rgba(255, 255, 255, 0.7);

  // Generic monochrome
  --color-w05: rgba(255, 255, 255, 0.05);
  --color-w08: rgba(255, 255, 255, 0.08);
  --color-w10: rgba(255, 255, 255, 0.1);
  --color-w16: rgba(255, 255, 255, 0.16);
  --color-w21: rgba(255, 255, 255, 0.21);
  --color-w50: rgba(255, 255, 255, 0.5);
  --color-w70: rgba(255, 255, 255, 0.7);
  --color-w80: rgba(255, 255, 255, 0.8);
  --color-w100: rgba(255, 255, 255, 1);
  --color-b05: rgba(0, 0, 0, 0.05);
  --color-b08: rgba(0, 0, 0, 0.08);
  --color-b20: rgba(0, 0, 0, 0.2);
  --color-b50: rgba(0, 0, 0, 0.5);
  --color-b70: rgba(0, 0, 0, 0.7);
  --color-b100: rgba(0, 0, 0, 1);

  // Code area colors
  --color-background-inline-code: var(--color-b08);
  --color-background-code-block: rgba(25, 25, 28, 0.05);
  --color-cd-punctuation: rgb(153, 153, 153); // #999999;
  --color-cd-keyword: rgb(0, 51, 179); // #0033B3;
  --color-cd-keyword-alternative: rgba(204, 120, 50); // #CC7832;
  --color-cd-builtin: rgb(6, 125, 23); // #067D17;
  --color-cd-builtin-alternative: rgb(231, 191, 106); // #E8BF6A;
  --color-cd-function: rgb(0, 98, 122); // #00627A;
  --color-cd-function-alternative: rgb(255, 198, 109); // #FFC66D;
  --color-cd-operator: rgb(154, 110, 58); // #9A6E3A;
  --color-cd-operator-alternative: rgb(169, 183, 198); // #A9B7C6;
  --color-cd-number: rgba(135, 16, 148, 1);
  --color-cd-number-alternative: rgba(109, 185, 243, 1);

  // Targets and source sets
  --color-generic: rgb(83, 157, 243);
  --color-jvm: rgb(77, 187, 95);
  --color-js: rgb(255, 199, 0);
  --color-wasm: rgb(255, 255, 255);

  // Copy icon colors
  --copy-icon-color: var(--color-b50);
  --copy-icon-hover-color: var(--color-b70);
}
