/*!
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

:root {
  --size-s1: 4px;
  --size-s2: 8px;
  --size-s3: 16px;
  --size-m1: 24px;
  --size-m2: 32px;
  --size-m3: 48px;
  --size-l1: 64px;
  --size-l2: 72px;
  --size-ta1: 40px;
  --size-ta2: 52px;
}
