/*!
 * Copyright 2014-2025  JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '../_tokens/index';

a {
  text-decoration: none;
}

/** [data-name] - anchor links with no size **/
.main-content a:not([data-name]) {
  padding-bottom: 1px;

  cursor: pointer;
  transition:
    color 200ms,
    border-color 200ms;
  word-break: break-word;

  border-bottom: 1px solid var(--text-outline);
  outline: none;

  font-size: inherit;
  font-style: normal;
  line-height: inherit;
  overflow-wrap: break-word;

  &,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;

    color: var(--text-color);
  }

  &:hover {
    border-bottom-color: var(--text-color);
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px var(--color-key-blue-50);
  }
}
