/*
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

.versions-dropdown {
  white-space: nowrap;
}

.versions-dropdown-button {
  position: relative;
}

@media (width < 900px) {
  .versions-dropdown {
    height: 52px;
    margin-left: -8px;
  }

  .versions-dropdown-button {
    border-radius: 0;

    outline-offset: -4px;
  }
}

@media (width >= 900px) {
  .versions-dropdown .dropdown--list {
    min-width: 120px;
    max-width: 200px;
    top: 44px;
  }
}

.no-js .versions-dropdown:hover .dropdown--list {
  display: block;
}
