/*
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

.versions-dropdown {
  margin-left: var(--size-s2);
  white-space: nowrap;
}

@media (width < 900px) {
  .versions-dropdown {
    height: 52px;
  }
}

@media (width >= 900px) {
  .versions-dropdown .dropdown--list {
    min-width: 50px;
    top: 40px;
  }
}

.no-js .versions-dropdown:hover .dropdown--list {
  display: block;
}
