/*!
 * Copyright 2014-2025  JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '../_tokens/index';

.breadcrumbs {
  --breadcrumb-size: 24px;

  min-height: var(--breadcrumb-size);
  margin-top: var(--breadcrumb-size);
  overflow-wrap: break-word;
}

.breadcrumbs .delimiter {
  margin: 0 4px;

  color: var(--text-outline);
}
