<!DOCTYPE html>
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie ie7" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie ie8" lang="en"><![endif]-->
<!--[if (IE 9)&!(IEMobile)]><html class="no-js ie ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<html>
<head>
    {% include head.html %}
</head>
<body>

<div class="global-layout">

    <div id="content-main" class="g-layout global-content">
        {{ content }}
    </div>

</div>

</body>
</html>