/*
 * Copyright 2014-2024 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
:root {
  --version-selector-min-width: 120px;
}

.versions-dropdown {
  white-space: nowrap;
}

.versions-dropdown-button {
  position: relative;
  min-width: var(--version-selector-min-width);
  justify-content: left;
  max-width: 360px;
}

.versions-dropdown-button-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 100;
}

.versions-dropdown-button:active {
  background-color: rgba(255, 255, 255, 0.16) !important;
}

@media (width < 900px) {
  .versions-dropdown {
    height: 52px;
  }

  .versions-dropdown-button {
    border-radius: 0;
    outline-offset: -4px;
    padding-left: 12px !important;
    min-width: var(--version-selector-min-width) !important;
    max-width: 100vw;
    justify-content: space-between;
  }

  .versions-dropdown-button:hover {
    background-color: rgba(255, 255, 255, 0.16) !important;
  }

  .versions-dropdown-button:active {
    background-color: var(--color-w21) !important;
  }

  dokka-template-command {
    width: 100%;
  }
}

@media (width >= 900px) {
  .versions-dropdown .dropdown--list {
    min-width: var(--version-selector-min-width);
    max-width: 200px;
    top: 44px;
  }
}

.no-js .versions-dropdown:hover .dropdown--list {
  display: block;
}
