/*!
 * Copyright 2014-2024  JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */
@import '../_tokens/index';

.dropdown {
  position: relative;

  @media (width < $breakpoint-desktop-min) {
    position: static;
  }

  &--list {
    position: absolute;
    z-index: 10;
    top: 44px;

    right: 0;

    display: none;

    overflow-y: auto;

    width: fit-content;

    min-width: 272px;
    max-width: 360px;
    max-height: 400px;
    padding: 12px 0;

    border: 1px solid lighten(rgb(50, 50, 55), 15%); // color-background-nav-dt
    background-color: var(--color-background-nav-dt);

    box-shadow: 0 2px 8px 0 #00000040;

    @media (width < $breakpoint-desktop-min) {
      top: 0;
      right: 0;

      height: 100vh;
      max-height: unset;

      padding: 0;

      border: none;
    }

    @media (width < $breakpoint-tablet-min) {
      width: 100vw;
      max-width: unset;
    }

    &_positioned_right {
      right: 0;
    }

    &_positioned_left {
      left: 0;

      @media (width < $breakpoint-desktop-min) {
        left: unset;
      }
    }

    &_expanded {
      display: block;
    }

    &_toc-list {
      @media (width >= $breakpoint-desktop-min) {
        position: relative;

        top: 0;

        display: block;

        min-width: unset;
        max-width: unset;

        max-height: unset;

        padding: 0;

        border: none;

        background-color: transparent;

        box-shadow: none;
      }

      @media (width >= $breakpoint-tablet-min) and (width < $breakpoint-desktop-min) {
        width: 408px;
      }
    }
  }

  &--option {
    position: relative;

    display: block;

    padding: var(--size-s2) var(--size-s3);

    list-style-type: none;

    cursor: pointer;
    letter-spacing: -0.03em;

    text-transform: capitalize;

    color: var(--color-text-nav-dt);

    border: none;
    background-color: var(--color-background-nav-dt);

    font: var(--font-text-m);

    &:hover {
      background-color: lighten(rgb(50, 50, 55), 10%); // color-background-nav-dt
    }

    &:focus-visible {
      z-index: 1;

      outline: var(--focus-outline);
    }

    &:visited {
      color: var(--color-text-nav-dt);
    }

    &_active {
      background-color: var(--color-key-blue);

      &:hover {
        background-color: lighten(rgb(48, 127, 255), 10%); // color-key-blue
      }
    }

    &_link {
      text-decoration: none;

      color: var(--color-text-nav-dt);

      &:focus-visible {
        outline: var(--focus-outline);
      }
    }

    & .checkbox {
      pointer-events: none;
    }
  }

  &--overlay {
    position: absolute;
    z-index: 4;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    width: 100vw;
    height: 100vh;

    content: '';

    background-color: rgba(137, 137, 137, 0.5);

    .dropdown--list_expanded + & {
      display: block;

      @media (width >= $breakpoint-desktop-min) {
        display: none;
      }
    }
  }

  &--header {
    position: sticky;
    z-index: 2;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 52px;

    padding-left: var(--size-s3);

    color: var(--color-w70);

    border-bottom: 1px solid lighten(rgb(50, 50, 55), 15%); // color-background-nav-dt

    background-color: var(--color-background-nav-dt);

    @media (width >= $breakpoint-desktop-min) {
      display: none;
    }
  }
}
