name: CI

on: pull_request

jobs:
  apiCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 11
      - run: ./gradlew apiCheck --stacktrace
