name: CI

on: pull_request

jobs:
  test-ubuntu:
    strategy:
      matrix:
        version: [ 8, 11, 17 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.version }}
      - run: ./gradlew clean test --stacktrace

  test-windows:
    strategy:
      matrix:
        version: [ 11, 15, 17 ]
      fail-fast: false
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.version }}
      - run: ./gradlew clean test --stacktrace --no-daemon --parallel --max-workers=1
