name: Publish preview to web (S3)

on: [ push, workflow_dispatch ]

env:
  branch-name: ${GITHUB_REF#refs/heads/}
  bucket-name: 'dokka-snapshots'

jobs:
  kotlinx-coroutines:
    runs-on: ubuntu-latest
    if: github.repository == 'Kotlin/dokka'
    steps:
      - name: Checkout dokka
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/actions/setup-gradle@v4
        with:
          develocity-access-key: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
      - name: Document coroutines
        run: ./gradlew :dokka-integration-tests:gradle:testExternalProjectKotlinxCoroutines --stacktrace "-Dorg.gradle.jvmargs=-Xmx2g -XX:MaxMetaspaceSize=500m"
        env:
          DOKKA_TEST_OUTPUT_PATH: ${{ github.workspace }}/dokka/coroutines
      - name: Configure AWS credentials for S3 access
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - name: Copy files to dokka's S3 bucket
        run: ./dokka-integration-tests/aws_sync.sh s3://${{ env.bucket-name }} coroutines ${{ github.workspace }}/dokka/coroutines
      - name: Print link
        run: echo https://dokka-snapshots.s3.eu-central-1.amazonaws.com/${{ env.branch-name }}/coroutines/${GITHUB_SHA::7}/index.html

  kotlinx-serialization:
    runs-on: ubuntu-latest
    if: github.repository == 'Kotlin/dokka'
    steps:
      - name: Checkout dokka
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/actions/setup-gradle@v4
        with:
          develocity-access-key: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
      - name: Document serialization
        run: ./gradlew :dokka-integration-tests:gradle:testExternalProjectKotlinxSerialization --stacktrace "-Dorg.gradle.jvmargs=-Xmx2g -XX:MaxMetaspaceSize=500m"
        env:
          DOKKA_TEST_OUTPUT_PATH: ${{ github.workspace }}/dokka/serialization
      - name: Configure AWS credentials for S3 access
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - name: Copy files to dokka's S3 bucket
        run: ./dokka-integration-tests/aws_sync.sh s3://${{ env.bucket-name }} serialization ${{ github.workspace }}/dokka/serialization
      - name: Print link
        run: echo https://dokka-snapshots.s3.eu-central-1.amazonaws.com/${{ env.branch-name }}/serialization/${GITHUB_SHA::7}/index.html

  ui-showcase:
    runs-on: macos-latest
    if: github.repository == 'Kotlin/dokka'
    steps:
      - name: Checkout dokka
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - uses: gradle/actions/setup-gradle@v4
        with:
          develocity-access-key: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
      - name: Generate ui-showcase documentation
        run: ./gradlew :dokka-integration-tests:gradle:testUiShowcaseProject
        env:
          DOKKA_TEST_OUTPUT_PATH: ${{ github.workspace }}/dokka/ui-showcase
      - name: Configure AWS credentials for S3 access
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - name: Copy files to dokka's S3 bucket
        run: ./dokka-integration-tests/aws_sync.sh s3://${{ env.bucket-name }} ui-showcase ${{ github.workspace }}/dokka/ui-showcase
      - name: Print link
        run: echo https://dokka-snapshots.s3.eu-central-1.amazonaws.com/${{ env.branch-name }}/ui-showcase/${GITHUB_SHA::7}/index.html

  biojava:
    runs-on: ubuntu-latest
    if: github.repository == 'Kotlin/dokka'
    steps:
      - name: Checkout dokka
        uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
          cache: 'maven'
      - uses: gradle/actions/setup-gradle@v4
        with:
          develocity-access-key: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
      - name: Document biojava-core
        run: ./gradlew :dokka-integration-tests:maven:testExternalProjectBioJava --stacktrace
        env:
          DOKKA_TEST_OUTPUT_PATH: ${{ github.workspace }}/dokka/biojava
      - name: Configure AWS credentials for S3 access
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1
      - name: Copy files to dokka's S3 bucket
        run: ./dokka-integration-tests/aws_sync.sh s3://${{ env.bucket-name }} biojava ${{ github.workspace }}/dokka/biojava
      - name: Print link
        run: echo https://dokka-snapshots.s3.eu-central-1.amazonaws.com/${{ env.branch-name }}/biojava/${GITHUB_SHA::7}/index.html
